example data files/
documentation/
imageanalysis/interactive_image_analysis.py
imageanalysis/eels_new.ipynb
imageanalysis/making_eels_stacks.ipynb
imageanalysis/making_h5_stacks.ipynb
imageanalysis/utils.py
imageanalysis.egg-info/
imageanalysis/simulate.py
imageanalysis/Sample_2476/
**/*.h5
**/*.hdf5
**/*.pkl
**/*.npz
**/*.npy
**/*.json
**/*.txt
**/*.csv
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.svg
**/*.tiff   
**/*.tif
myenv_backup.yml