example data files/
documentation/
imageanalysis/interactive_image_analysis.py
imageanalysis/eels_new.ipynb
imageanalysis/making_eels_stacks.ipynb
imageanalysis/making_h5_stacks.ipynb
imageanalysis/utils.py
imageanalysis.egg-info/
imageanalysis/Sample_2476/
imageanalysis/Sample_2525/
imageanalysis/testing.ipynb
imageanalysis/getting_rotation_angle_4dstem.ipynb
imageanalysis/vcr_to_gif_calibrated.py
imageanalysis/__pycache__/
myenv_backup.yml
**/*.h5
**/*.hdf5
**/*.pkl
**/*.npz
**/*.npy
**/*.json
**/*.txt
**/*.csv
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.svg
**/*.tiff   
**/*.tif
**/*.ndata
**/*.ndata1
